* {
  margin: 0;
  padding: 0;
}

html {
	font-family: "Albert Sans", "Roboto", sans-serif;
 	font-size: 20px;
	box-sizing: border-box;
	background-color: #F7F5F3;
	color: #1E2020;
}

a {
	color: #1E2020;
}
